@import "../../../src/css/index";

.menu {
  .menu__list {
    overflow-y: hidden;

    &-item {
      margin: 0;
    }

    .menu__link {
      &:hover {
        background: #EBEDF1;
      }
    }

    .menu__link {
      color: map-get($monochrome, black);
      font-weight: $normal;
      font-size: 14px;
      line-height: 24px;
      padding: 8px 16px;
      border-radius: 8px 0 0 8px;

      @media screen and (max-width: 1024px){
        border-radius: 8px;
      }
    }

    .menu__list {
      margin-left: 0;
      will-change: height;
      transition: height 200ms linear;

      .menu__link {
        margin-left: 16px;
        padding-left: 16px;

        &--active:not(.menu__link--sublist) {
          background: map-get($monochrome, white);
          color: map-get($primary-blue, default);
          border: 1px solid #EBEDF1;
          border-right: none;
          font-weight: $bold;
          box-sizing: border-box;
        }
      }

      .menu__list {
        .menu__link {
          margin-left: 32px;
          padding-left: 16px;

        }
      }
    }
  }
}

.menu__link--sublist {
  display: flex;
  align-items: center;

  &:after {
    width: 10px;
    height: 6px;
    top: 50%;
    background: url('/imgs/small-arrow.svg');
    transform: rotate(0deg) translateY(-50%);
  }
}

.menu__list-item--collapsed {
  .menu__list {
    height: 0 !important;
  }

  .menu__link--sublist {
    &:after {
      transform: rotate(180deg);
    }
  }
}

.menu__list-item--none-collapsed {
  & > .menu__link--sublist {
    font-weight: $bold !important;
  }
}
