@import "../../../src/css/index";

.menu {
  padding: 0;

  .menu__list {
    .menu__list-item {
      margin: 0;
    }

    .menu__link {
      color: map-get($monochrome, black);
      font-weight: $normal;
      font-size: 14px;
      line-height: 24px;
      padding: 8px 16px;

      &--active {
        background: map-get($monochrome, white);
        font-weight: $bold;
      }

      &:hover {
        background: map-get($monochrome, light-tint);
      }
    }

    .menu__list {
      margin-left: 0;
      overflow-y: hidden;
      will-change: height;
      transition: height 200ms linear;

      .menu__link {
        padding: 8px 16px 8px 32px;

        &--active {
          background: map-get($monochrome, light-tint);
        }
      }
    }
  }
}

.menu__link--sublist {
  display: flex;
  align-items: center;

  &:after {
    width: 10px;
    height: 6px;
    background: url('/img/small-arrow.svg');
    transform: rotate(0deg);
  }
}

.menu__list-item--collapsed {
  .menu__list {
    height: 0 !important;
  }

  .menu__link--sublist {
    &:after {
      transform: rotate(180deg);
    }
  }
}
