@import "../../css/index";

.card {
  @include card-shadow;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-grow: 1;
  padding: 24px;
  margin-bottom: 32px;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: map-get($monochrome, default);
  background-color: map-get($monochrome, white);
  border-radius: 8px;
  cursor: pointer;

  &:hover{
    outline: none;
    text-decoration: none;
    color: map-get($monochrome, default);
  }
}

.icon {
  width: 48px;
  height: 48px;
}

.externalLinkIcon {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
