@import "../../css/index";

.card {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: map-get($monochrome, default);
  background-color: map-get($monochrome, white);
  box-shadow: $box-shadow;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 200ms ease, transform 200ms ease;

  &:hover{
    outline: none;
    text-decoration: none;
    color: map-get($monochrome, default);
    box-shadow: $box-shadow-on-hover;
    transform: scale(1.01);
  }
}

.icon {
  width: 48px;
  height: 48px;
}

.externalLinkIcon {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
