.card {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #687481;
  background: #fff;
  box-shadow: 0px 0px 12px rgba(88, 98, 109, 0.07), 0px 2px 4px rgba(88, 98, 109, 0.3);
  border-radius: 8px;

  &:hover{
    outline: none;
    text-decoration: none;
    color: #687481;
    box-shadow: 0px 6px 16px rgba(27, 25, 27, 0.16);
  }

  &__external-link-icon {
    margin-left: auto;
  }
}
