@import "../css/index";

.mainPageWrapper {
  h2 {
    font-size: 32px;
    font-weight: $bold;
  }
}

.shadowImg {
  box-shadow: 0px 20px 64px rgba(16, 33, 64, 0.12);
  background-color: map-get($monochrome, white);
  border-radius: 14px;
}

.borderedImgWrapper {
  padding: 5px;
  background-color: map-get($monochrome, white);
  filter: drop-shadow(0px 20px 64px rgba(16, 33, 64, 0.12));
  box-sizing: border-box;

  img {
    border: 1px solid map-get($monochrome, medium-tint);
    box-sizing: border-box;
  }
}

.integrateStepsWrapper {
  background-color: map-get($monochrome, black);

  h3 {
    font-size: 20px;
  }

  h2, h3 {
    color: map-get($monochrome, white);
  }

  p {
    font-size: 16px;
    color: map-get($monochrome, default);
  }

  .integrateStepNumber {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    color: map-get($monochrome, white);
    font-size: 18px;
    font-weight: $bold;
  }

  ol {
    list-style: none;
    counter-reset: counter;

    li {
      counter-increment: counter;
      position: relative;
      padding-top: 80px;

      @media (min-width: 1024px) {
        &:not(:last-child) {
          &::before {
            content: '';
            position: absolute;
            top: 28px;
            left: 130px;
            width: 200px;
            height: 1px;
            background-color: map-get($monochrome, default);
            opacity: 0.5;
          }
        }
      }

      &::after {
        @extend .integrateStepNumber;
        content: counter(counter);
        background: linear-gradient(128.65deg, #76B4F4 -60.46%, #3881E7 74.51%);
      }

      &:nth-child(4)::after {
        @extend .integrateStepNumber;
        content: url("/static/img/done.svg");
        background: map-get($green, success);
      }
    }
  }
}

.features {
  h3 {
     font-weight: $bold;
     color: map-get($monochrome, shade)
  }

  p {
    font-size: 18px;
  }

  .feature {
    position: relative;
    font-weight: $bold;
    font-size: 18px;
    color: map-get($monochrome, default);
    list-style: none;
    line-height: 24px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      box-sizing: border-box;
    }
  }

  .basicFeature {
    @extend .feature;

    &::before {
      content: url("/static/img/small-done.svg");
      top: 50%;
      transform: translateY(-50%);
      left: -32px;
      padding-bottom: 4px;
      background-color: map-get($primary-blue, medium-tint);
    }
  }

  .individualFeatures {
    box-shadow: 0 20px 64px rgba(16, 33, 64, 0.12);
    border-radius: 16px;
  }

  .individualFeature {
    @extend .feature;

    &::before {
      content: url("/static/img/small-plus.svg");
      top: 8px;
      left: -32px;
      padding-bottom: 6px;
      background-color: map-get($green, success);
    }

    strong {
      display: block;
      margin-bottom: 4px;
    }

    span {
      font-weight: $normal;
      color: map-get($monochrome, shade);
    }
  }
}

.quickStart {
  background-image: url("/static/img/quick-start.png");
  background-size: cover;

  p {
    font-size: 18px;
    font-weight: $normal;
  }

  h2, p {
    color: map-get($monochrome, white);
  }
}
