
.menu {
  padding: 0;

  .menu__list {
    .menu__list-item {
      margin: 0;
    }

    .menu__link {
      color: map-get($monochrome, black);
      font-weight: $normal;
      font-size: 14px;
      line-height: 24px;
      padding: 8px 16px;

      &--active {
        background: map-get($monochrome, white);
        font-weight: $bold;
      }

      &:hover {
        background: map-get($monochrome, light-tint);
      }
    }

    .menu__list {
      margin-left: 0;

      .menu__link {
        padding: 8px 16px 8px 32px;

        &--active {
          background: map-get($monochrome, light-tint);
        }
      }
    }
  }
}

.menu__link--sublist{
  display: flex;
  align-items: center;

  &:after {
    width: 10px;
    height: 6px;
    background: url('/img/small-arrow.svg');
    transform: rotate(0deg);
  }
}

.menu__list-item--collapsed {
  .menu__link--sublist {
    &:after {
      transform: rotate(180deg);
    }
  }
}

.table-of-contents {
  margin-top: 24px;

  li {
    padding-left: 8px;
    margin: 0;

    .table-of-contents__link {
      display: inline-block;
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 20px;
      font-weight: $normal;
      color: map-get($monochrome, black);
    }

    .table-of-contents__link--active {
      font-weight: $bold;
    }
    ul {
      a {
        margin: 0 0 8px 0;
      }

      li {
        margin: 0 0 8px 0;
      }
    }
  }
}
