.container {
  box-sizing: border-box;

  @media screen and (min-width: 360px) and (max-width: 475px) {
    box-sizing: initial;
  }
  @media screen and (min-width: 768px) {
    box-sizing: border-box;
  }
}

.md\:container {
  margin-left: auto;
  margin-right: auto;
}
