.menu__list {

  .menu__link {
    color: map-get($monochrome, black);
    font-weight: $normal;
    line-height: 24px;
    padding: 8px 16px;

    &--active {
      font-weight: $bold;
    }
  }

  .menu__list {
    margin-left: 0;

    .menu__link {
      padding: 8px 16px 8px 32px;
    }
  }
}

.menu__link--sublist{
  &:after {
    transform: rotate(0deg);
  }
}

.menu__list-item--collapsed {
  .menu__link--sublist {
    &:after {
      transform: rotate(180deg);
    }
  }
}

.table-of-contents {
  .table-of-contents__link {
    font-size: 14px;
    font-weight: $normal;
    color: map-get($monochrome, black);
  }

  .table-of-contents__link--active {
    font-weight: $bold;
  }
}
