.button {
  display: inline-block;
  padding: 12px 48px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    border: 2px solid #3399FF;
    background: #3399FF;
    color: #FFFFFF;
  }

  &:active {
    border: 2px solid #006CD8;
    background: #006CD8;
    color: #FFFFFF;
  }
}

.button-primary {
  @extend .button;
  border: 2px solid #007FFF;
  background: #007FFF;
}

.button-secondary {
  @extend .button;
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  color: #007FFF;
}

.button-secondary-ghost {
  @extend .button;
  border: 2px solid #007FFF;
  background: #FFFFFF;
  color: #007FFF;
}
