%link {
  font-size: 16px;
  line-height: 24px;
  font-weight: $normal;
  color: map-get($monochrome, default);

  &:hover {
    color: map-get($monochrome, default);
    text-decoration-line: underline;
  }
}

//header styles
.navbar {
  height: 88px;
  padding: 0;

  &__inner {
    display: flex;
    margin: 0 auto;

    @media (min-width: 640px) {
      max-width: 640px;
    }

    @media (min-width: 768px) {
      max-width: 768px;
    }

    @media (min-width: 1024px) {
      max-width: 960px;
    }

    @media (min-width: 1280px) {
      max-width: 960px;
    }

    @media (min-width: 1536px) {
      max-width: 960px;
    }
  }

  a {
    @extend %link;
  }

  img {
    height: 48px;
  }

  &__items {
    display: flex;
    gap: 24px;
  }

  &__link {
    padding: 0;
  }
}
