@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 960px;
  }
}