@import "../../css/index";

.table {
  table {
    margin-bottom: 0;
  }
}

.customScroll {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #d9dbdc;
  border-radius: 4px;

  &::-webkit-scrollbar {
    max-height: 8px;
    max-width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($monochrome, dark-tint);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: map-get($monochrome, medium-tint);
    border-radius: 0 0 4px 4px;
  }
}

.expandedTable {
  min-width: auto;
  width: 80vw;
  max-height: 80vh;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-x: auto;
}
