.docPageContainer {
  max-width: 1120px;
  padding: 0 60px;
  box-sizing: initial;

  @media screen and (max-width: 360px) {
    padding: 0 16px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }
}
